<section class="offerings-section">
    <div class="offerings-wrapper">

        <div class="offerings-image-container">
            <img src="./images/Ellipse2.png" alt="green-apple-special-offerings" width="550" height="550"
                class="offerings-ellipse2" />

            <img src="./images/aple-offerings.png" alt="green-apple-special-offerings" width="396" height="502"
                class="offerings-main-image" />

            <img src="./images/Ellipse 4.png" alt="green-apple-special-offerings" width="252" height="87"
                class="offerings-ellipse4" />

            <img src="./images/Ellipse1.png" alt="green-apple-special-offerings" width="502" height="502"
                class="offerings-ellipse1" />




        </div>




        <div class="sec-container">
            <h2 class="offerings-sec-heading">What’s Special About Our Offerings</h2>
            <p class="offerings-paragraph paragraph-1-msrgin" style="margin-bottom: 40px;">
                With our platform, you can browse through a diverse selection of
                cuisines and local restaurants, and choose from a variety of dishes
                that cater to your specific taste buds.
            </p>

            <ul class="offerings-ul" style="margin-bottom: 32px;">
                <li class="offerings-li" style="margin-right: 67px;">
                    <ul class="svg-offer-ul-icon">
                        <li class="svg-offer-li-icon">
                            <a href="" class="svg-offer-a-icon" style="cursor: default;">
                                <svg class="offerings-svg1" width="32" height="32">
                                    <use href="./images/symbol-defs.svg#icon-rocket_svg-offering"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <h3 class="offerings-third-heading">Fasest Delivery</h3>
                    <p class="offerings-li-paragraph">
                        Our advanced logistics system and dedicated delivery partners
                        ensure that your meals are delivered to you within 30-minutes.
                    </p>
                </li>
                <li class="offerings-li">
                    <ul class="svg-offer-ul-icon">
                        <li class="svg-offer-li-icon">
                            <a href="" class="svg-offer-a-icon" style="cursor: default;">
                                <svg class="offerings-svg1" width="32" height="32">
                                    <use href="./images/symbol-defs.svg#icon-touch_offerings"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <h3 class="offerings-third-heading">Easy To Order</h3>
                    <p class="offerings-li-paragraph">
                        You can browse through a wide variety of cuisines and restaurants,
                        select your favorite meals, and place your order in just a few
                        clicks.
                    </p>
                </li>
            </ul>
            <button class="offerings-button" type="button">Order now</button>
        </div>
    </div>



</section>

!